
// leave in this file 
html, body
  margin 0
  padding 0
.App
  font-family 'Avenir', Helvetica, Arial, sans-serif
  display grid
  grid-template-rows 100px 1fr
  grid-template-columns 1fr
  align-items center
  justify-items center
  height 100vh
  text-align center
  /**
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  color #2c3e50
  grid-template-rows auto 1fr
  **/

// navigation.style

.navigation > *
  padding 10px


// board.style

.board
  margin 0
  padding 0
.board__active-number
  color: #232323
  font-size 33vw
  margin 0
  padding 0
  width 100%
  text-align center
  border 0

  // machine.style
.machine
  display grid
  grid-gap 3rem
  font-size 2rem
.machine__number
  text-align center
  padding .25rem
  border-radius 10px
  border 2px solid #666
  box-shadow 0 1px 2px #555
  font-size 2rem
  width 300px


.machine__button
  font-size 2rem
  padding 1rem
  border-radius 10px
  background-color #eee
  border 2px solid #666
  box-shadow 0 2px 5px #555

// agent.styl

.agent
  margin 0
  padding 0
  font-size 3rem
  display grid
  grid-template-columns: auto 1fr
  grid-gap 1rem
  justify-items end
label
  justify-self left

.agent__input
  font-size 3rem
  width 9rem
  text-align right
  border 0

.agent__button
  font-size 2rem
  padding 1rem
  border-radius 10px
  background-color #eee
  border 2px solid #666
  box-shadow 0 2px 5px #555
  grid-column span 2
